In [1]:
import pandas as pd

C:\Users\hp\AppData\Local\Temp\ipykernel_9180\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df = pd.read_excel('Data/IWA-Environmental-Dataset-Final-Sample-External.xlsx',sheet_name='Final Raw Sample(0%)')
df.head()

,Year,Company Name,Country,GICS Sub-Industry,Industry (Exiobase),Environmental Intensity (Sales),Environmental Intensity (Op Inc),Total Environmental Cost,Working Capacity,Fish Production Capacity,...,SDG 6,SDG 12.2,SDG 14.1,SDG 14.2,SDG 14.3,SDG 14.c,SDG 15.1,SDG 15.2,SDG 15.5,% Imputed
0,2019,SAGA PLC,UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN I...,Multi-line Insurance,Activities auxiliary to financial intermediati...,-0.028872,-0.130254,-3.184231e+07,-3.115075e+07,-7184.203318,...,-170775.886453,-1059.042606,-4.739468,-1.027193,-3584.970569,-5.649112,70.667599,70.667599,-1297.277948,0.006135
1,2019,BURSA MALAYSIA BHD,MALAYSIA,Financial Exchanges & Data,Activities auxiliary to financial intermediati...,-0.016772,-0.034656,-1.968379e+06,-1.924910e+06,-451.342112,...,-11502.243880,-168.146428,-1.410813,-1.207108,-222.196310,-1.681590,10.138780,10.138780,-79.398691,0.043215
2,2019,INTERTEK GROUP PLC,UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN I...,Research & Consulting Services,Activities auxiliary to financial intermediati...,-0.015297,-0.094878,-6.059927e+07,-5.928166e+07,-13774.014902,...,-324959.759255,-3804.051175,-17.024036,-3.689647,-6861.392776,-20.291452,253.836024,253.836024,-2470.054721,0.011467
3,2019,JSE LIMITED,SOUTH AFRICA,Financial Exchanges & Data,Activities auxiliary to financial intermediati...,-0.014625,NaN,-2.290124e+06,-2.239814e+06,-510.210093,...,-12199.928822,-901.413470,-0.189720,-1.009642,-253.366805,-0.226133,-3.169102,-3.169102,-92.619013,0.016390
4,2019,BUREAU VERITAS SA,FRANCE,Research & Consulting Services,Activities auxiliary to financial intermediati...,-0.006993,-0.050957,-3.997865e+07,-3.910761e+07,-9330.459280,...,-214438.078273,-4116.308632,-37.818819,-9.136488,-4606.916825,-45.077368,586.030400,586.030400,-1632.997165,0.033005

In [6]:
df.shape

(14035, 34)

In [9]:
df.isnull().mean()*100

Year                                                             0.000000
Company Name                                                     0.000000
Country                                                          0.149626
GICS Sub-Industry                                                0.000000
Industry (Exiobase)                                              0.000000
Environmental Intensity (Sales)                                  0.000000
Environmental Intensity (Op Inc)                                 5.429284
Total Environmental Cost                                         0.000000
Working Capacity                                                 0.000000
Fish Production Capacity                                         0.000000
Crop Production Capacity                                         0.000000
Meat Production Capacity                                         0.000000
Biodiversity                                                     0.000000
Abiotic Resources                                                0.000000
Water production capacity (Drinking water & Irrigation Water)    0.000000
Wood Production Capacity                                         0.000000
SDG 1.5                                                          0.000000
SDG 2.1                                                          0.000000
SDG 2.2                                                          0.000000
SDG 2.3                                                          0.000000
SDG 2.4                                                          0.000000
SDG 3.3                                                          0.000000
SDG 3.4                                                          0.000000
SDG 3.9                                                          0.000000
SDG 6                                                            0.000000
SDG 12.2                                                         0.000000
SDG 14.1                                                         0.000000
SDG 14.2                                                         0.000000
SDG 14.3                                                         0.000000
SDG 14.c                                                         0.000000
SDG 15.1                                                         0.000000
SDG 15.2                                                         0.000000
SDG 15.5                                                         0.000000
% Imputed                                                        0.000000
dtype: float64

In [11]:
df.dropna(inplace=True)

In [14]:
df.isnull().sum()

Year                                                             0
Company Name                                                     0
Country                                                          0
GICS Sub-Industry                                                0
Industry (Exiobase)                                              0
Environmental Intensity (Sales)                                  0
Environmental Intensity (Op Inc)                                 0
Total Environmental Cost                                         0
Working Capacity                                                 0
Fish Production Capacity                                         0
Crop Production Capacity                                         0
Meat Production Capacity                                         0
Biodiversity                                                     0
Abiotic Resources                                                0
Water production capacity (Drinking water & Irrigation Water)    0
Wood Production Capacity                                         0
SDG 1.5                                                          0
SDG 2.1                                                          0
SDG 2.2                                                          0
SDG 2.3                                                          0
SDG 2.4                                                          0
SDG 3.3                                                          0
SDG 3.4                                                          0
SDG 3.9                                                          0
SDG 6                                                            0
SDG 12.2                                                         0
SDG 14.1                                                         0
SDG 14.2                                                         0
SDG 14.3                                                         0
SDG 14.c                                                         0
SDG 15.1                                                         0
SDG 15.2                                                         0
SDG 15.5                                                         0
% Imputed                                                        0
dtype: int64